<mat-toolbar class="top">
    <mat-toolbar-row class="top-row" >
        <button mat-raised-button color="primary">Book appointment</button>
        <button mat-raised-button>Read blogs</button>
    </mat-toolbar-row>
    <mat-toolbar-row class="top-row">
        <div class="icons">
            <a>
              <img src="../../../assets/facebook.svg" alt="facebook" class="sm-icon">
            </a>
            <a>
              <img src="../../../assets/instagram.svg" alt="instagram" class="sm-icon">
            </a>
            <a>
              <img src="../../../assets/youtube.svg" alt="youtube" class="sm-icon">
            </a>
            <a>
              <img src="../../../assets/twitter.svg" alt="twitter" class="sm-icon">
            </a>
          </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="top-row">
        <p>@NMJ clinic New Delhi India</p>
    </mat-toolbar-row>
</mat-toolbar>