<div class="main-conatiner">
  <div class="conatiner">
    <div class="content">

      <h2>Our Methodology</h2>
      <p>Our methodology aim is to keep inflammation signs under control.
      </p>
      <p>
        Higher the inflammatory maker, higher the potential for chronic illness, which often impact all or one subsystem
        of body.
      </p>
      <p>
        Restoration and re-build the joint, muscle and nerve properties to drive body as a unit.
      </p>
      <p>
        Achieving the optimize state of these structure reduces the stress marker and improves quality healing.
      </p>
    </div>
    <img src="../../../assets/methods.svg" class="images">
  </div>


  <div class="conatiner diff">
    <img src="../../../assets/expertise.svg" class="images hide">
    <div class="content">
      <h2>Our Expertise</h2>
      <p>Embrace your health and sustain your optimize state of function with our clinical programs. </p>
      <p>
        Our methodology is based on the bio mechanics science of human anatomy, physiology and psychology. </p>
      <p>
        NMJ clinic philosophy is to optimize the body function ahead of maximizing the true body potential.
      </p>
      <p>Scientific based approach helps to restore the harmony and rhythmic dynamics between mind and body.</p>
    </div>

    <img src="../../../assets/expertise.svg" class="images show">
  </div>
  <div class="conatiner">
    <div class="content">
      <h2>Restore, Retrain and Rejuvenate</h2>
      <p>
        Staying active is not the formula here.
        Staying optimized is the core value of NMJ clinic.
      </p>
      <p>
        More indiscipline we are with movement the more wearing and tearing at different level of body;
        depending on persons role and responsibility.
      </p>
      <p>Optimal functioning of musculoskeletal system drives entire body functions.
        Optimization state is way different approach than maximization through exercise.
      </p>
      <p>
        It is state, which varies body to body and achieved through restoration of bodys system and re-programming for
        self-sustainability.
      </p>
    </div>
    <img src="../../../assets/re.png" class="images hide">
  </div>
</div>
<div class="message">
  <div class="message-content">
    <h2>Founder's Message</h2>
      <p>
          <strong>
              "Today optimize existing potential and tomorrow maximize it"
          </strong>
      </p>
      Dear  visitors
      <p>
        All are born to perform, very few optimize their potential outcome and rest end up with chronic illness.<br>
        We here at NMJ clinic has been a reliable name in anything and everything that has something to do with the Physotheraphy industry,<br> and have been consistently working for our clients to relief their pains and help them lead an active life.
      </p>
      <p>
        <strong>
          Change the prospect for healing the body will do
        </strong><br>
        We strongly beleive that how you treat your body plays major role in your welbeing.<br>
        We here at NMJ clinic help  you take better care of your body to help it overcome the fatigue of the stress atomsphere we face in todays world.
      </p>
  </div>
  <div class="founder">
    <img src="../../../assets/NMJ-founder.png">
      <h3><strong>Aakriti Bansal Sharma</strong><br>Co-Founder NMJ Clinic</h3>
  </div>


</div>
