<mat-toolbar class="top">
  <mat-toolbar-row class="top-row" >
    <div class="links">
      <span><a href="mailto:someone@example.com">someone@example.com</a></span>
      <span><a href="tel:+918888999000">+918888999000</a></span>
      <span>New Delhi,India</span>
    </div>

    <div class="icons hide">
      <a>
        <img src="../../../assets/facebook.svg" alt="facebook" class="sm-icon">
      </a>
      <a>
        <img src="../../../assets/instagram.svg" alt="instagram" class="sm-icon">
      </a>
      <a>
        <img src="../../../assets/youtube.svg" alt="youtube" class="sm-icon">
      </a>
      <a>
        <img src="../../../assets/twitter.svg" alt="twitter" class="sm-icon">
      </a>
    </div>
  </mat-toolbar-row>


  <mat-toolbar-row class="main-row">
    <div>
        <img src="../../../assets/logo.png" alt="logo" class="logo">
    </div>
    <div>
      <h3>{{'Home' | uppercase}}</h3>
      <h3>{{'About us' | uppercase}}</h3>
      <h3>{{'Services' | uppercase}}</h3>
      <h3>{{'Blog' | uppercase}}</h3>
    </div>
  </mat-toolbar-row>

  <!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->

</mat-toolbar>
