.top-row{
    background-color: #0097A7;
    height: 40px;
    display:flex;
    justify-content: space-between;

    span{
        padding: 1rem;
        font-size: 1rem;
        color: white;
        a{color: white;}
    }

    .sm-icon{
        width: 1.5rem;
        height: 1.5rem;
        padding: .3rem;
    }
    
    .sm-icon:hover{
        cursor: pointer;
        transform:scale(1.5);
    }
}

.main-row{
    background-color: white;
    display: flex;
    justify-content: space-around;
    .logo{
        margin-top: 2rem;
        width: 400px;
        height: 80px;
    }
    h3{
        color: black;
        display: inline;
        padding: .5rem;
    }
    h3:hover{
        cursor: pointer;
        transform:scale(1.1);
    }
   
}

  @media screen and (max-width:800px) {
      .hide{
          display: none;
      }
      .main-row{
          display: flex;
          flex-direction: column;
          .logo{
              margin-top: 3rem;
            width: 150px;
            height: 50px;
        }
        h3{
            font-weight: 400;
            font-size: 16px;
            
        }
      }
      .links{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          
          span{
              font-size: 10px;
            color: white;

          padding: 0;
            a{
                color: white;
                margin: 1rem;
            }

        }
      }
  }