<div class="slider">

    <div class="slides">
      <div id="slide-1">
          <p>
              All born to perform, very few optimize their potential outcome and rest end up with chronic illness
          </p>
      </div>
      <div id="slide-2">
          <p>
              Today optimize existing potential and tomorrow maximize it
          </p>
      </div>
      <div id="slide-3">
          <p>
              Change the prospect for healing the body will do
          </p>
      </div>
    </div>
  </div>